DirectoryIndex index.php
RewriteEngine on
# Force HTTPS Begin
# Enable (Uncomment) on remote host in production
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 
# End Force HTTPS
RewriteCond $1 !^(index\.php|public|favicon\.ico|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php?$1 [L,QSA]