#map
{	
	position: relative;
	> *
	{
		width: 100%;
		height: 18rem;
	}
	.overlay
	{
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.75);		
		text-align: center;
		a
		{
			@extend .button-link;
			padding: 1rem 2rem;
			margin: 6.875rem 0 ;
			color: white;
			border-color: white;
		}
		a:hover
		{
			background-color: white;
			color: black;
		}
	}
	img
	{
		object-fit: cover;
		display: block;
	}
}