#countdown
{
	text-align: center;
	> div
	{
		display: inline-block;
		
		.big
		{
		font-size: 2rem;
		}
		.small
		{
			font-size: 1rem;
			opacity: 0.65;
		}
	}
	.colon
	{
		font-size: 4rem;
		padding: 0 1rem;
		position: relative;
		top: -0.25rem;
		opacity: 0.85;
	}
	.happening
	{
		color: lime;
	}
	.finished
	{
		color: rgba(0,0,0,0.4);
	}
}