@import '_base';
@import '_member';

.members
{
	h2
	{
		text-align: center;
	}
	.lines
	{
		margin-bottom: 0.5rem;
		.line
		{
			display: block;
			text-align: center;
			.member
			{
				vertical-align: top;
				margin: 1rem 1.5rem;
				display: inline-block;
			}
			.member:first-child
			{
				margin-left: 0;
			}
			.member:last-child
			{
				margin-right: 0;
			}
		}
	}
}
@media screen and (max-width: 450px){
	.line{
		display: inline;
	}
	.member{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.line > a{
		margin: 0.75vh !important;
	}
}
@media screen and (max-width: 385px){
	.member{
		width: 10rem;
	}
}