<button class="accordion"><h3>Creative</h3></button>
<div class="panel">
	<h4>General Rules for the Creative event</h4>
	<ul>
		<li>Software requirement: any text editor.</li>
		<li>Size of the team: Maximum 3 people.</li>
		<li>Category: Open</li>
		<li>Assessment will be done on the basis of:
			<ul>
				<li>Visual appeal</li>
				<li>Usability</li>
				<li>Design principles kept in mind</li>
			</ul>
		</li>
		<li>HTML, CSS and JavaScript are allowed. jQuery is allowed and recommended.</li>
		<li>CSS libraries such as Bootstrap, MDL and W3.CSS are strictly prohibited.</li>
		<li>jQuery plugins and JavaScript plugins are allowed (except W3.JS).</li>
	</ul>
	<h4>Preliminary Round</h4>
	<ul>
		<li>Create a website for a ___________.</li>
		<li>Make it in maximum 3 pages.</li>
		<li>Submit your entries at xyz@gmail.com</li>
	</ul>
	<h4>Onsite Round</h4>
	<ul>
		<li>Software requirement: any text editor, Adobe Animate CC.</li>
		<li>The list of qualified teams shall be posted on our Facebook page and our website (http://byteclub.html-5.me).</li>
		<li>Students have to bring their own laptops with the required softwares installed.</li>
		<li>The onsite rules shall be declared on the day of the competition. Be prepared for anything.</li>
	</ul>
</div>